.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("/plasmic/copy_of_t_13/images/unsplashXhGmqNYWqUjpg.jpg") top 50% left 50% / cover repeat,
    var(--token-y5TgY8VJHnyt);
  width: 100%;
  position: relative;
  min-width: 0;
  padding: 128px 20px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .root {
    width: 100%;
    min-width: 0;
    padding: 33px 20px 45px;
  }
}
.freeBox__qcwof {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: var(--token-aIlVDCUcaL11);
  min-width: 0;
  padding: var(--token-RGMtF7x8WnM4);
}
.freeBox__ylnZ3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__jbw2Z {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 600px;
  height: 100%;
  max-width: 100%;
  align-self: auto;
  overflow: visible;
  min-height: 0;
  padding: 0px;
}
.freeBox__jbw2Z > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox__jbw2Z > :global(.__wab_flex-container) > *,
.freeBox__jbw2Z > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jbw2Z > :global(.__wab_flex-container) > picture > img,
.freeBox__jbw2Z
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.h1 {
  padding-bottom: 24px;
  margin-top: calc(0px + 0px) !important;
  margin-right: 0px;
  margin-bottom: 8px;
  margin-left: 0px;
  color: var(--token-BCsBcTZf84zV);
  width: 100%;
  font-size: 122px;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h1 {
    font-size: 62px;
    margin-top: calc(0px + 0px) !important;
  }
}
.freeBox__xfEZd {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-P4Eu7V-I32Rw);
  min-width: 0;
  padding: 24px 8px;
}
.freeBox__zpFM {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-P4Eu7V-I32Rw);
  min-width: 0;
  padding: 8px;
}
.link__f2AUw {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  transition-property: all;
  transition-duration: 0.3s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
  padding: 8px;
  margin: 0px 0px 8px;
}
.root .link__f2AUw:hover {
  transform: translateX(20px) translateY(0px) translateZ(0px);
}
.h2__pLMs1 {
  padding-bottom: 8px;
  color: var(--token-BCsBcTZf84zV);
  padding-right: 0px;
}
.freeBox__qjM9Q {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 10px;
  max-width: 100%;
  background: var(--token-BCsBcTZf84zV);
  min-width: 0;
  flex-shrink: 0;
  padding: 4px;
}
.freeBox__oXts {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-P4Eu7V-I32Rw);
  min-width: 0;
  padding: 8px;
}
.link__wHcx0 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  transition-property: all;
  transition-duration: 0.3s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
  padding: 8px;
  margin: 0px 0px 8px;
}
.root .link__wHcx0:hover {
  transform: translateX(20px) translateY(0px) translateZ(0px);
}
.h2__cpZup {
  padding-bottom: 8px;
  color: var(--token-BCsBcTZf84zV);
}
.freeBox__p4V4V {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 10px;
  max-width: 100%;
  background: var(--token-BCsBcTZf84zV);
  min-width: 0;
  flex-shrink: 0;
  padding: 4px;
}
