.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 0px;
}
.header:global(.__wab_instance) {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
}
.hero {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70vh;
  max-width: 100%;
  background: url("/plasmic/copy_of_t_13/images/unsplash5QT09YIbROkjpg.jpg") top 50% left 50% / cover no-repeat;
  min-width: 0;
  flex-shrink: 0;
  padding: 180px 20px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .hero {
    min-height: 80vh;
    padding: 190px 12px 30px;
  }
}
.container7 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: var(--token-aIlVDCUcaL11);
  padding: var(--token-RGMtF7x8WnM4);
}
.row3 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 0px;
}
.row3 > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.row3 > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .row3 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .row3 > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.info {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .info {
    padding: 0px 0px 16px;
  }
}
.freeBox__kBvXe {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__kBvXe > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 26px);
  height: calc(100% + 26px);
}
.freeBox__kBvXe > :global(.__wab_flex-container) > *,
.freeBox__kBvXe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kBvXe > :global(.__wab_flex-container) > picture > img,
.freeBox__kBvXe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 26px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__kBvXe {
    max-width: 70%;
  }
}
.h1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  margin-bottom: 0px;
  color: var(--token-P4Eu7V-I32Rw);
  margin-top: calc(0px + 26px) !important;
  min-width: 0;
}
@media (max-width: 1680px) {
  .h1 {
    margin-top: calc(0px + 26px) !important;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .h1 {
    width: 100%;
    align-self: flex-start;
    margin-top: calc(0px + 26px) !important;
    min-width: 0;
  }
}
.fig {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.pageBanerSection {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 100vh;
  max-width: 100%;
  background: url("/plasmic/copy_of_t_13/images/unsplash3UcQtXSvA88Jpg.jpg") left 50% bottom 70% / cover repeat;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 0px;
  padding: 80px;
}
@media (max-width: 1680px) {
  .pageBanerSection {
    padding: 80px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .pageBanerSection {
    display: flex;
    position: relative;
    transform: translateX(0px) translateY(0px) translateZ(0px);
    align-items: center;
    justify-content: flex-end;
    border-radius: 0px;
    padding: 80px 20px 20px;
  }
}
.freeBox___8LC5 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 80%;
  height: auto;
  max-width: 600px;
  background: var(--token-P4Eu7V-I32Rw);
  padding: 24px;
}
.freeBox___8LC5 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox___8LC5 > :global(.__wab_flex-container) > *,
.freeBox___8LC5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8LC5 > :global(.__wab_flex-container) > picture > img,
.freeBox___8LC5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox___8LC5 {
    width: 100%;
    max-width: 100%;
  }
}
.h2__nSouS {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: left;
  color: var(--token-y5TgY8VJHnyt);
  margin-top: calc(0px + 24px) !important;
  min-width: 0;
}
.text__hooMi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  padding-bottom: 0px;
  color: var(--token-y5TgY8VJHnyt);
  min-width: 0;
}
.button__rpNbE:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  height: 52px;
  margin-top: calc(0px + 24px) !important;
  flex-shrink: 0;
}
@media (max-width: 1680px) {
  .button__rpNbE:global(.__wab_instance) {
    margin-top: calc(0px + 24px) !important;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .button__rpNbE:global(.__wab_instance) {
    height: 36px;
    margin-top: calc(0px + 24px) !important;
    flex-shrink: 0;
  }
}
.svg___65PCn {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__ePqTc {
  text-transform: capitalize;
  letter-spacing: 0.02em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__ePqTc {
    font-size: 14px;
  }
}
.svg__eXKtR {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.pageBanerSection6 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  width: 100%;
  height: 100vh;
  max-width: 100%;
  background: url("/plasmic/copy_of_t_13/images/depthOfField18687231920Jpg.jpg") left 50% bottom 70% / cover repeat;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 0px;
  padding: 80px;
}
@media (max-width: 1680px) {
  .pageBanerSection6 {
    padding: 80px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .pageBanerSection6 {
    display: flex;
    position: relative;
    transform: translateX(0px) translateY(0px) translateZ(0px);
    align-items: center;
    justify-content: flex-end;
    border-radius: 0px;
    padding: 80px 20px 20px;
  }
}
.freeBox__u4Kaf {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 80%;
  height: auto;
  max-width: 600px;
  background: var(--token-y5TgY8VJHnyt);
  padding: 24px;
}
.freeBox__u4Kaf > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__u4Kaf > :global(.__wab_flex-container) > *,
.freeBox__u4Kaf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__u4Kaf > :global(.__wab_flex-container) > picture > img,
.freeBox__u4Kaf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__u4Kaf {
    width: 100%;
    max-width: 100%;
  }
}
.h2__tZdL6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: left;
  margin-top: calc(0px + 24px) !important;
  min-width: 0;
}
.text__e3Vm7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  padding-bottom: 0px;
  min-width: 0;
}
.button__zmTc:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  height: 52px;
  margin-top: calc(0px + 24px) !important;
  flex-shrink: 0;
}
@media (max-width: 1680px) {
  .button__zmTc:global(.__wab_instance) {
    margin-top: calc(0px + 24px) !important;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .button__zmTc:global(.__wab_instance) {
    height: 36px;
    margin-top: calc(0px + 24px) !important;
    flex-shrink: 0;
  }
}
.svg__kW11O {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__waomv {
  text-transform: capitalize;
  letter-spacing: 0.02em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__waomv {
    font-size: 14px;
  }
}
.svg__k2IQl {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.pageBanerSection5 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 100vh;
  max-width: 100%;
  background: url("/plasmic/copy_of_t_13/images/unsplashIjCd3RFz03Ajpg.jpg") left 50% bottom 70% / cover repeat;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 0px;
  padding: 80px;
}
@media (max-width: 1680px) {
  .pageBanerSection5 {
    padding: 80px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .pageBanerSection5 {
    display: flex;
    position: relative;
    transform: translateX(0px) translateY(0px) translateZ(0px);
    align-items: center;
    justify-content: flex-end;
    border-radius: 0px;
    padding: 80px 20px 20px;
  }
}
.freeBox__pGlO1 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 80%;
  height: auto;
  max-width: 600px;
  background: var(--token-P4Eu7V-I32Rw);
  padding: 24px;
}
.freeBox__pGlO1 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__pGlO1 > :global(.__wab_flex-container) > *,
.freeBox__pGlO1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pGlO1 > :global(.__wab_flex-container) > picture > img,
.freeBox__pGlO1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__pGlO1 {
    width: 100%;
    max-width: 100%;
  }
}
.h2__aeBwA {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: left;
  color: var(--token-y5TgY8VJHnyt);
  margin-top: calc(0px + 24px) !important;
  min-width: 0;
}
.text__cHyk1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  padding-bottom: 0px;
  color: var(--token-y5TgY8VJHnyt);
  min-width: 0;
}
.button__yvs5M:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  height: 52px;
  margin-top: calc(0px + 24px) !important;
  flex-shrink: 0;
}
@media (max-width: 1680px) {
  .button__yvs5M:global(.__wab_instance) {
    margin-top: calc(0px + 24px) !important;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .button__yvs5M:global(.__wab_instance) {
    height: 36px;
    margin-top: calc(0px + 24px) !important;
    flex-shrink: 0;
  }
}
.svg__vmFxs {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___6DLrS {
  text-transform: capitalize;
  letter-spacing: 0.02em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text___6DLrS {
    font-size: 14px;
  }
}
.svg__pXaEc {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.pageBanerSection2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  width: 100%;
  height: 100vh;
  max-width: 100%;
  background: url("/plasmic/copy_of_t_13/images/unsplash9AqlbHUfCIjpg.jpg") left 50% bottom 70% / cover repeat;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  align-self: flex-start;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 0px;
  padding: 80px;
}
@media (max-width: 1680px) {
  .pageBanerSection2 {
    padding: 80px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .pageBanerSection2 {
    display: flex;
    position: relative;
    transform: translateX(0px) translateY(0px) translateZ(0px);
    align-items: center;
    justify-content: flex-end;
    border-radius: 0px;
    padding: 80px 20px 20px;
  }
}
.freeBox__keWx4 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 80%;
  height: auto;
  max-width: 600px;
  background: var(--token-y5TgY8VJHnyt);
  padding: 24px;
}
.freeBox__keWx4 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__keWx4 > :global(.__wab_flex-container) > *,
.freeBox__keWx4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__keWx4 > :global(.__wab_flex-container) > picture > img,
.freeBox__keWx4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__keWx4 {
    width: 100%;
    max-width: 100%;
  }
}
.h2__pw7Jv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: left;
  margin-top: calc(0px + 24px) !important;
  min-width: 0;
}
.text__c6De9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  padding-bottom: 0px;
  min-width: 0;
}
.button___21Qd3:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  height: 52px;
  margin-top: calc(0px + 24px) !important;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .button___21Qd3:global(.__wab_instance) {
    height: 36px;
    margin-top: calc(0px + 24px) !important;
    flex-shrink: 0;
  }
}
.svg___3GFsb {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__ag0C2 {
  text-transform: capitalize;
  letter-spacing: 0.02em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__ag0C2 {
    font-size: 14px;
  }
}
.svg__sUbbH {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.contactSection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
