@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Poppins%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B1%2C300%3B1%2C400%3B1%2C500%3B1%2C600%3B1%2C700&family=Inconsolata%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Playfair+Display%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B1%2C400%3B1%2C500%3B1%2C600%3B1%2C700&family=Montserrat%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B1%2C300%3B1%2C400%3B1%2C500%3B1%2C600%3B1%2C700&display=swap");

.plasmic_tokens {
  --token-TUUKhRoELxXA: #d8edea;
  --plasmic-token-unnamed-style-token: var(--token-TUUKhRoELxXA);
  --token-y5TgY8VJHnyt: #fbfbfb;
  --plasmic-token-white: var(--token-y5TgY8VJHnyt);
  --token-S1pqV-4foJVL: #fe5737;
  --plasmic-token-orange: var(--token-S1pqV-4foJVL);
  --token-P4Eu7V-I32Rw: #222222;
  --plasmic-token-heading-h-2: var(--token-P4Eu7V-I32Rw);
  --token-aIlVDCUcaL11: 1680px;
  --plasmic-token-container-mixin: var(--token-aIlVDCUcaL11);
  --token-RGMtF7x8WnM4: 0px;
  --plasmic-token-pading-container: var(--token-RGMtF7x8WnM4);
  --token-BCsBcTZf84zV: #fcce16;
  --plasmic-token-yellow: var(--token-BCsBcTZf84zV);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-E6A_Ww-G3efI_font-family: "Inter", sans-serif;
  --mixin-E6A_Ww-G3efI_font-size: 18px;
  --mixin-E6A_Ww-G3efI_font-weight: 300;
  --mixin-E6A_Ww-G3efI_font-style: normal;
  --mixin-E6A_Ww-G3efI_color: #222222;
  --mixin-E6A_Ww-G3efI_text-align: left;
  --mixin-E6A_Ww-G3efI_text-transform: none;
  --mixin-E6A_Ww-G3efI_line-height: 1.65;
  --mixin-E6A_Ww-G3efI_letter-spacing: normal;
  --mixin-E6A_Ww-G3efI_white-space: pre-wrap;
  --mixin-E6A_Ww-G3efI_user-select: text;
  --mixin-E6A_Ww-G3efI_text-decoration-line: none;
  --mixin-E6A_Ww-G3efI_text-overflow: clip;
  --mixin-i5O-4KMSoWzZ_color: var(--token-y5TgY8VJHnyt);
  --mixin-i5O-4KMSoWzZ_font-weight: 700;
  --mixin-i5O-4KMSoWzZ_font-size: 72px;
  --mixin-i5O-4KMSoWzZ_line-height: 1.2;
  --mixin-i5O-4KMSoWzZ_margin-top: 0px;
  --mixin-i5O-4KMSoWzZ_margin-right: 0px;
  --mixin-i5O-4KMSoWzZ_margin-bottom: 0px;
  --mixin-i5O-4KMSoWzZ_margin-left: 0px;
  --mixin-i5O-4KMSoWzZ_font-family: "Inter", sans-serif;
  --mixin-i5O-4KMSoWzZ_text-transform: uppercase;
  --mixin-i5O-4KMSoWzZ_box-shadow: none;
  --mixin-i5O-4KMSoWzZ_backdrop-filter: none;
  --mixin-i5O-4KMSoWzZ_white-space: pre-wrap;
  --mixin-WVZI9BnTK1_k_color: var(--token-P4Eu7V-I32Rw);
  --mixin-WVZI9BnTK1_k_font-weight: 700;
  --mixin-WVZI9BnTK1_k_font-size: 38px;
  --mixin-WVZI9BnTK1_k_line-height: 1.2;
  --mixin-WVZI9BnTK1_k_font-family: "Inter", sans-serif;
  --mixin-WVZI9BnTK1_k_margin-top: 0px;
  --mixin-WVZI9BnTK1_k_margin-right: 0px;
  --mixin-WVZI9BnTK1_k_margin-bottom: 0px;
  --mixin-WVZI9BnTK1_k_margin-left: 0px;
  --mixin-WVZI9BnTK1_k_text-transform: uppercase;
  --mixin-WVZI9BnTK1_k_letter-spacing: -0.005em;
  --mixin-WVZI9BnTK1_k_white-space: pre-wrap;
  --mixin-zYho9kSUKy-t_color: var(--token-S1pqV-4foJVL);
  --mixin-zYho9kSUKy-t_font-family: "Poppins", sans-serif;
  --mixin-zYho9kSUKy-t_font-weight: 300;
  --mixin-zYho9kSUKy-t_font-size: 17px;
  --mixin-zYho9kSUKy-t_line-height: 1.65;
  --mixin-zYho9kSUKy-t_white-space: pre-wrap;
  --mixin-ONfBs0UZrFY6_color: #000000;
  --mixin-ONfBs0UZrFY6_font-weight: 500;
  --mixin-ONfBs0UZrFY6_font-size: 24px;
  --mixin-ONfBs0UZrFY6_line-height: 1.2;
  --mixin-ONfBs0UZrFY6_font-family: "Inter", sans-serif;
  --mixin-ONfBs0UZrFY6_margin-top: 0px;
  --mixin-ONfBs0UZrFY6_margin-right: 0px;
  --mixin-ONfBs0UZrFY6_margin-bottom: 0px;
  --mixin-ONfBs0UZrFY6_margin-left: 0px;
  --mixin-ONfBs0UZrFY6_text-transform: uppercase;
  --mixin-ONfBs0UZrFY6_white-space: pre-wrap;
  --mixin-XMZ_hWJI7tHm_font-family: "Inter", sans-serif;
  --mixin-XMZ_hWJI7tHm_color: #000000;
  --mixin-XMZ_hWJI7tHm_font-size: 24px;
  --mixin-XMZ_hWJI7tHm_font-weight: 600;
  --mixin-XMZ_hWJI7tHm_letter-spacing: -0.5px;
  --mixin-XMZ_hWJI7tHm_line-height: 1.3;
  --mixin-XMZ_hWJI7tHm_white-space: pre-wrap;
  --mixin-PZNi9S5aa3Y0_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-PZNi9S5aa3Y0_border-bottom-color: #dddddd;
  --mixin-PZNi9S5aa3Y0_border-bottom-style: solid;
  --mixin-PZNi9S5aa3Y0_border-bottom-width: 1px;
  --mixin-PZNi9S5aa3Y0_border-left-color: #dddddd;
  --mixin-PZNi9S5aa3Y0_border-left-style: solid;
  --mixin-PZNi9S5aa3Y0_border-left-width: 1px;
  --mixin-PZNi9S5aa3Y0_border-right-color: #dddddd;
  --mixin-PZNi9S5aa3Y0_border-right-style: solid;
  --mixin-PZNi9S5aa3Y0_border-right-width: 1px;
  --mixin-PZNi9S5aa3Y0_border-top-color: #dddddd;
  --mixin-PZNi9S5aa3Y0_border-top-style: solid;
  --mixin-PZNi9S5aa3Y0_border-top-width: 1px;
  --mixin-PZNi9S5aa3Y0_border-bottom-left-radius: 3px;
  --mixin-PZNi9S5aa3Y0_border-bottom-right-radius: 3px;
  --mixin-PZNi9S5aa3Y0_border-top-left-radius: 3px;
  --mixin-PZNi9S5aa3Y0_border-top-right-radius: 3px;
  --mixin-PZNi9S5aa3Y0_font-family: "Inconsolata";
  --mixin-PZNi9S5aa3Y0_padding-bottom: 1px;
  --mixin-PZNi9S5aa3Y0_padding-left: 4px;
  --mixin-PZNi9S5aa3Y0_padding-right: 4px;
  --mixin-PZNi9S5aa3Y0_padding-top: 1px;
  --mixin-PZNi9S5aa3Y0_white-space: pre-wrap;
  --mixin-7dvRfMyT8a8O_margin-top: 0px;
  --mixin-7dvRfMyT8a8O_margin-right: 0px;
  --mixin-7dvRfMyT8a8O_margin-bottom: 10px;
  --mixin-7dvRfMyT8a8O_margin-left: 0px;
  --mixin-7dvRfMyT8a8O_color: #ca7716;
  --mixin-7dvRfMyT8a8O_font-family: "Playfair Display", serif;
  --mixin-7dvRfMyT8a8O_font-size: 18px;
  --mixin-7dvRfMyT8a8O_line-height: 1.5;
  --mixin-7dvRfMyT8a8O_white-space: pre-wrap;
  --mixin--TomU4SYiNIy_font-family: "Inter", sans-serif;
  --mixin--TomU4SYiNIy_color: #000000;
  --mixin--TomU4SYiNIy_font-size: 16px;
  --mixin--TomU4SYiNIy_font-weight: 600;
  --mixin--TomU4SYiNIy_line-height: 1.5;
  --mixin--TomU4SYiNIy_white-space: pre-wrap;
  --mixin-N7wA4Qa3uy3-_border-left-color: #dddddd;
  --mixin-N7wA4Qa3uy3-_border-left-style: solid;
  --mixin-N7wA4Qa3uy3-_border-left-width: 3px;
  --mixin-N7wA4Qa3uy3-_color: #888888;
  --mixin-N7wA4Qa3uy3-_padding-left: 10px;
  --mixin-N7wA4Qa3uy3-_white-space: pre-wrap;
  --mixin-mtlnVKkU-0lM_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-mtlnVKkU-0lM_border-bottom-color: #dddddd;
  --mixin-mtlnVKkU-0lM_border-bottom-style: solid;
  --mixin-mtlnVKkU-0lM_border-bottom-width: 1px;
  --mixin-mtlnVKkU-0lM_border-left-color: #dddddd;
  --mixin-mtlnVKkU-0lM_border-left-style: solid;
  --mixin-mtlnVKkU-0lM_border-left-width: 1px;
  --mixin-mtlnVKkU-0lM_border-right-color: #dddddd;
  --mixin-mtlnVKkU-0lM_border-right-style: solid;
  --mixin-mtlnVKkU-0lM_border-right-width: 1px;
  --mixin-mtlnVKkU-0lM_border-top-color: #dddddd;
  --mixin-mtlnVKkU-0lM_border-top-style: solid;
  --mixin-mtlnVKkU-0lM_border-top-width: 1px;
  --mixin-mtlnVKkU-0lM_border-bottom-left-radius: 3px;
  --mixin-mtlnVKkU-0lM_border-bottom-right-radius: 3px;
  --mixin-mtlnVKkU-0lM_border-top-left-radius: 3px;
  --mixin-mtlnVKkU-0lM_border-top-right-radius: 3px;
  --mixin-mtlnVKkU-0lM_font-family: "Inconsolata";
  --mixin-mtlnVKkU-0lM_padding-bottom: 3px;
  --mixin-mtlnVKkU-0lM_padding-left: 6px;
  --mixin-mtlnVKkU-0lM_padding-right: 6px;
  --mixin-mtlnVKkU-0lM_padding-top: 3px;
  --mixin-mtlnVKkU-0lM_white-space: pre-wrap;
  --mixin-ZBg5-AzTkdN1_display: flex;
  --mixin-ZBg5-AzTkdN1_flex-direction: column;
  --mixin-ZBg5-AzTkdN1_align-items: stretch;
  --mixin-ZBg5-AzTkdN1_justify-content: flex-start;
  --mixin-ZBg5-AzTkdN1_list-style-position: outside;
  --mixin-ZBg5-AzTkdN1_padding-left: 40px;
  --mixin-ZBg5-AzTkdN1_position: relative;
  --mixin-ZBg5-AzTkdN1_list-style-type: decimal;
  --mixin-ZBg5-AzTkdN1_white-space: pre-wrap;
  --mixin-5V6iuG9tISag_display: flex;
  --mixin-5V6iuG9tISag_flex-direction: column;
  --mixin-5V6iuG9tISag_align-items: stretch;
  --mixin-5V6iuG9tISag_justify-content: flex-start;
  --mixin-5V6iuG9tISag_list-style-position: outside;
  --mixin-5V6iuG9tISag_padding-left: 40px;
  --mixin-5V6iuG9tISag_position: relative;
  --mixin-5V6iuG9tISag_list-style-type: disc;
  --mixin-5V6iuG9tISag_white-space: pre-wrap;
}

@media (min-width: 0px) and (max-width: 767px) {
  .plasmic_default_styles {
    --mixin-i5O-4KMSoWzZ_font-size: 38px;
    --mixin-i5O-4KMSoWzZ_white-space: pre-wrap;
    --mixin-WVZI9BnTK1_k_font-size: 28px;
    --mixin-WVZI9BnTK1_k_white-space: pre-wrap;
  }
}

.plasmic_mixins {
  --mixin-wmPmH-TTvF4A_white-space: pre-wrap;
  --plasmic-mixin-footer-menu-text_white-space: var(
    --mixin-wmPmH-TTvF4A_white-space
  );
  --mixin-jQyDDEO1smw__white-space: pre-wrap;
  --plasmic-mixin-padding-section_white-space: var(
    --mixin-jQyDDEO1smw__white-space
  );
  --mixin-dE3ay6gRawsg_white-space: pre-wrap;
  --plasmic-mixin-section-title_white-space: var(
    --mixin-dE3ay6gRawsg_white-space
  );
  --mixin-c_UlM9Uo48vw_white-space: pre-wrap;
  --plasmic-mixin-white-title_white-space: var(
    --mixin-c_UlM9Uo48vw_white-space
  );
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-E6A_Ww-G3efI_font-family);
  font-size: var(--mixin-E6A_Ww-G3efI_font-size);
  font-weight: var(--mixin-E6A_Ww-G3efI_font-weight);
  font-style: var(--mixin-E6A_Ww-G3efI_font-style);
  color: var(--mixin-E6A_Ww-G3efI_color);
  text-align: var(--mixin-E6A_Ww-G3efI_text-align);
  text-transform: var(--mixin-E6A_Ww-G3efI_text-transform);
  line-height: var(--mixin-E6A_Ww-G3efI_line-height);
  letter-spacing: var(--mixin-E6A_Ww-G3efI_letter-spacing);
  white-space: var(--mixin-E6A_Ww-G3efI_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-i5O-4KMSoWzZ_color);
  font-weight: var(--mixin-i5O-4KMSoWzZ_font-weight);
  font-size: var(--mixin-i5O-4KMSoWzZ_font-size);
  line-height: var(--mixin-i5O-4KMSoWzZ_line-height);
  font-family: var(--mixin-i5O-4KMSoWzZ_font-family);
  text-transform: var(--mixin-i5O-4KMSoWzZ_text-transform);
  box-shadow: var(--mixin-i5O-4KMSoWzZ_box-shadow);
  backdrop-filter: var(--mixin-i5O-4KMSoWzZ_backdrop-filter);
  margin: var(--mixin-i5O-4KMSoWzZ_margin-top)
    var(--mixin-i5O-4KMSoWzZ_margin-right)
    var(--mixin-i5O-4KMSoWzZ_margin-bottom)
    var(--mixin-i5O-4KMSoWzZ_margin-left);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-WVZI9BnTK1_k_color);
  font-weight: var(--mixin-WVZI9BnTK1_k_font-weight);
  font-size: var(--mixin-WVZI9BnTK1_k_font-size);
  line-height: var(--mixin-WVZI9BnTK1_k_line-height);
  font-family: var(--mixin-WVZI9BnTK1_k_font-family);
  text-transform: var(--mixin-WVZI9BnTK1_k_text-transform);
  letter-spacing: var(--mixin-WVZI9BnTK1_k_letter-spacing);
  margin: var(--mixin-WVZI9BnTK1_k_margin-top)
    var(--mixin-WVZI9BnTK1_k_margin-right)
    var(--mixin-WVZI9BnTK1_k_margin-bottom)
    var(--mixin-WVZI9BnTK1_k_margin-left);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-zYho9kSUKy-t_color);
  font-family: var(--mixin-zYho9kSUKy-t_font-family);
  font-weight: var(--mixin-zYho9kSUKy-t_font-weight);
  font-size: var(--mixin-zYho9kSUKy-t_font-size);
  line-height: var(--mixin-zYho9kSUKy-t_line-height);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-ONfBs0UZrFY6_color);
  font-weight: var(--mixin-ONfBs0UZrFY6_font-weight);
  font-size: var(--mixin-ONfBs0UZrFY6_font-size);
  line-height: var(--mixin-ONfBs0UZrFY6_line-height);
  font-family: var(--mixin-ONfBs0UZrFY6_font-family);
  text-transform: var(--mixin-ONfBs0UZrFY6_text-transform);
  margin: var(--mixin-ONfBs0UZrFY6_margin-top)
    var(--mixin-ONfBs0UZrFY6_margin-right)
    var(--mixin-ONfBs0UZrFY6_margin-bottom)
    var(--mixin-ONfBs0UZrFY6_margin-left);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  font-family: var(--mixin-XMZ_hWJI7tHm_font-family);
  color: var(--mixin-XMZ_hWJI7tHm_color);
  font-size: var(--mixin-XMZ_hWJI7tHm_font-size);
  font-weight: var(--mixin-XMZ_hWJI7tHm_font-weight);
  letter-spacing: var(--mixin-XMZ_hWJI7tHm_letter-spacing);
  line-height: var(--mixin-XMZ_hWJI7tHm_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-PZNi9S5aa3Y0_font-family);
  border-radius: var(--mixin-PZNi9S5aa3Y0_border-top-left-radius)
    var(--mixin-PZNi9S5aa3Y0_border-top-right-radius)
    var(--mixin-PZNi9S5aa3Y0_border-bottom-right-radius)
    var(--mixin-PZNi9S5aa3Y0_border-bottom-left-radius);
  padding: var(--mixin-PZNi9S5aa3Y0_padding-top)
    var(--mixin-PZNi9S5aa3Y0_padding-right)
    var(--mixin-PZNi9S5aa3Y0_padding-bottom)
    var(--mixin-PZNi9S5aa3Y0_padding-left);
  border-top: var(--mixin-PZNi9S5aa3Y0_border-top-width)
    var(--mixin-PZNi9S5aa3Y0_border-top-style)
    var(--mixin-PZNi9S5aa3Y0_border-top-color);
  border-right: var(--mixin-PZNi9S5aa3Y0_border-right-width)
    var(--mixin-PZNi9S5aa3Y0_border-right-style)
    var(--mixin-PZNi9S5aa3Y0_border-right-color);
  border-bottom: var(--mixin-PZNi9S5aa3Y0_border-bottom-width)
    var(--mixin-PZNi9S5aa3Y0_border-bottom-style)
    var(--mixin-PZNi9S5aa3Y0_border-bottom-color);
  border-left: var(--mixin-PZNi9S5aa3Y0_border-left-width)
    var(--mixin-PZNi9S5aa3Y0_border-left-style)
    var(--mixin-PZNi9S5aa3Y0_border-left-color);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-7dvRfMyT8a8O_color);
  font-family: var(--mixin-7dvRfMyT8a8O_font-family);
  font-size: var(--mixin-7dvRfMyT8a8O_font-size);
  line-height: var(--mixin-7dvRfMyT8a8O_line-height);
  margin: var(--mixin-7dvRfMyT8a8O_margin-top)
    var(--mixin-7dvRfMyT8a8O_margin-right)
    var(--mixin-7dvRfMyT8a8O_margin-bottom)
    var(--mixin-7dvRfMyT8a8O_margin-left);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  font-family: var(--mixin--TomU4SYiNIy_font-family);
  color: var(--mixin--TomU4SYiNIy_color);
  font-size: var(--mixin--TomU4SYiNIy_font-size);
  font-weight: var(--mixin--TomU4SYiNIy_font-weight);
  line-height: var(--mixin--TomU4SYiNIy_line-height);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-N7wA4Qa3uy3-_color);
  padding-left: var(--mixin-N7wA4Qa3uy3-_padding-left);
  border-left: var(--mixin-N7wA4Qa3uy3-_border-left-width)
    var(--mixin-N7wA4Qa3uy3-_border-left-style)
    var(--mixin-N7wA4Qa3uy3-_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-mtlnVKkU-0lM_font-family);
  border-radius: var(--mixin-mtlnVKkU-0lM_border-top-left-radius)
    var(--mixin-mtlnVKkU-0lM_border-top-right-radius)
    var(--mixin-mtlnVKkU-0lM_border-bottom-right-radius)
    var(--mixin-mtlnVKkU-0lM_border-bottom-left-radius);
  padding: var(--mixin-mtlnVKkU-0lM_padding-top)
    var(--mixin-mtlnVKkU-0lM_padding-right)
    var(--mixin-mtlnVKkU-0lM_padding-bottom)
    var(--mixin-mtlnVKkU-0lM_padding-left);
  border-top: var(--mixin-mtlnVKkU-0lM_border-top-width)
    var(--mixin-mtlnVKkU-0lM_border-top-style)
    var(--mixin-mtlnVKkU-0lM_border-top-color);
  border-right: var(--mixin-mtlnVKkU-0lM_border-right-width)
    var(--mixin-mtlnVKkU-0lM_border-right-style)
    var(--mixin-mtlnVKkU-0lM_border-right-color);
  border-bottom: var(--mixin-mtlnVKkU-0lM_border-bottom-width)
    var(--mixin-mtlnVKkU-0lM_border-bottom-style)
    var(--mixin-mtlnVKkU-0lM_border-bottom-color);
  border-left: var(--mixin-mtlnVKkU-0lM_border-left-width)
    var(--mixin-mtlnVKkU-0lM_border-left-style)
    var(--mixin-mtlnVKkU-0lM_border-left-color);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-ZBg5-AzTkdN1_display);
  flex-direction: var(--mixin-ZBg5-AzTkdN1_flex-direction);
  align-items: var(--mixin-ZBg5-AzTkdN1_align-items);
  justify-content: var(--mixin-ZBg5-AzTkdN1_justify-content);
  list-style-position: var(--mixin-ZBg5-AzTkdN1_list-style-position);
  padding-left: var(--mixin-ZBg5-AzTkdN1_padding-left);
  position: var(--mixin-ZBg5-AzTkdN1_position);
  list-style-type: var(--mixin-ZBg5-AzTkdN1_list-style-type);
  flex-column-gap: var(--mixin-ZBg5-AzTkdN1_flex-column-gap);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-5V6iuG9tISag_display);
  flex-direction: var(--mixin-5V6iuG9tISag_flex-direction);
  align-items: var(--mixin-5V6iuG9tISag_align-items);
  justify-content: var(--mixin-5V6iuG9tISag_justify-content);
  list-style-position: var(--mixin-5V6iuG9tISag_list-style-position);
  padding-left: var(--mixin-5V6iuG9tISag_padding-left);
  position: var(--mixin-5V6iuG9tISag_position);
  list-style-type: var(--mixin-5V6iuG9tISag_list-style-type);
  flex-column-gap: var(--mixin-5V6iuG9tISag_flex-column-gap);
}
